.l-charts
  position relative
.b-charts
  &__title
    color #000
    font-size 28px
    margin-top 60px
    padding-bottom 1em
    border-bottom 1px solid #000
  &__items
    display flex
    justify-content space-around
    flex-wrap wrap