.l-header
  position relative
  background #4e5d6c

.b-header
  display flex
  height 50px
  color #eee
  justify-content start
  align-items baseline
  
  +below(600px)
    justify-content space-between
    transition all 1s ease-in 0s
    height auto
  
  &__logo
    font-size 20px
    padding 0.5em
  &__nav
    display inherit
    padding 0
    +below(600px)
      display none
      width 100%
    & li 
      display inline-block
      text-align center
      transition all 1s ease-in 0s
      +below(600px)
        display block
        transition all 1s ease-in 0s
        &:hover
          display block
  &__col
    padding 0.5em
.navbar__collapse
  display none
  +below(600px)
    display flex
    
