<!-- default -->
.l-charts
  .b-charts.container
    h2.b-charts__title Charts

    .clearfix.b-charts__items            
      .b-charts__item
        .c100.p25
            span 25%
            .slice
                .bar
                .fill
        p(style="text-align:center") test
      .b-charts__item
        .c100.p25
            span 25%
            .slice
                .bar
                .fill
        p(style="text-align:center") test
      .b-charts__item
        .c100.p25
            span 25%
            .slice
                .bar
                .fill
        p(style="text-align:center") test
      .b-charts__item
        .c100.p25
            span 25%
            .slice
                .bar
                .fill
        p(style="text-align:center") test
            
      
            
<!-- /default -->