header.l-header
  .b-header.container
    a.b-header__logo(href="") logo
    ul.b-header__nav.nav-invisible
      li
        a.b-header__col(href="") Dashboard
      li
        a.b-header__col(href="") Products
      li
        a.b-header__col(href="") Categories
      li
        a.b-header__col(href="") Users
      
    a.navbar__collapse(style="font-size:24px;" href="" ) &#8801;

    

