@import 'base/base'
@import 'base/placeholders'
@import 'components/**/*.styl'
@import '../../node_modules/magnific-popup/dist/magnific-popup.css'
@import '../../node_modules/toastr/build/toastr.css'
@import '../../node_modules/jquery.mmenu/dist/css/jquery.mmenu.all.css'
@import 'base/mp'
// @import 'nib'

.container
  width $mainWidth
  margin 0 auto

.fl-container
  width $mainWidth
  margin 0 auto
  display flex
  



/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
