@import 'jeet'
@import 'nib'
@import 'config'
@import 'mixins'
@import 'placeholders'
@import '../../../node_modules/normalize.css/normalize.css'

// edit()

  

html
  box-sizing border-box  
  background-color #fff
  font-size $baseFontSize

body
  font-family: 'Roboto', sans-serif;
a
  text-decoration none
  color inherit
  outline none
  &:visit,:hover,:link,:active
    color inherit
    text-decoration none



*,
*:before,
*:after
  box-sizing inherit
